<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Teresa Li, Richard Hsu">

    <title>Gather</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="test">TEST DIV</div>
    <div id="test2">HIIIII</div>

  </body>

<!-- JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

</html>
{% endautoescape %}